In [2]:
total_seconds=200
mins=total_seconds//60
seconds=total_seconds-mins*60
print("Minutes: ",mins)
print("Seconds: ",seconds)

Minutes:  3
Seconds:  20

In [ ]:
total_seconds=200
mins=total_seconds//60
seconds=total_seconds-mins*60
print("Minutes: ",mins)
print("Seconds: ",seconds)

In [3]:
a=input()
b=input()
c=a+b
print(c) #string concatenation

23
12
2312

In [4]:
a=input("Enter the value of a: ")
b=input("Enter the value of b: ")
c=a+b
print(c)

Enter the value of a: 23
Enter the value of b: 12
2312

In [5]:
#converting databtype a and b from a string to a float.
a=input("Enter the value of a: ")
b=input("Enter the value of b: ")
c=float(a)+float(b)
print(c)

Enter the value of a: 3.2
Enter the value of b: 3
6.2

In [6]:
#OR
#converting databtype a and b from a string to a float/int.
a=float(input("Enter the value of a: "))
b=float(input("Enter the value of b: "))
c=(a)+(b)
print(c)

Enter the value of a: 12
Enter the value of b: 2
14.0

In [4]:
#year_of_birth
age=int(input("Age "))
present_year=2023
year_of_birth=(present_year-age)
print("year_of_birth: ", year_of_birth)

Age 23
year_of_birth:  2000

In [19]:
#Average_of_three_numbers
a=float(input("Enter the value of a: "))
b=float(input("Enter the value of b: "))
c=float(input("Enter the value of c: ")) 
average=(a+b+c)/3
print("Average: ", average)

Enter the value of a: 12
Enter the value of b: 12
Enter the value of c: 2
Average:  8.666666666666666

In [11]:
#Compute_the_salary_if_the_salary_of_a_worker_is_increased by 15%. The actual salary should come as an input.
salary=float(input("Enter salary: "))
increase=(0.15)
salary_increase=(salary*increase)
new_salary=(salary+salary_increase)
print("New_salary: ",new_salary)

Enter salary: 100000
New_salary:  115000.0

In [13]:
#Modified

#Compute_the_salary_if_the_salary_of_a_worker_is_increased by 15%. The actual salary should come as an input.
salary=float(input("Enter salary: "))
new_salary=(1.15*salary)
print("New_salary: ",new_salary)

Enter salary: 100000
New_salary:  114999.99999999999

In [15]:
#Primitive_Datatype
#Strings
first_name="Boma"
last_name='George'
other_name="""Smith"""
state_of_origin='''Rivers'''
print(type(first_name))

<class 'str'>

In [16]:
#string concatenation
first_name="Boma"
last_name='George'
other_name="""Smith"""
state_of_origin='''Rivers'''
fullname=last_name+" "+first_name
print(fullname)

George Boma

In [18]:
#string interpolation
first_name="Boma"
last_name='George'
other_name="""Smith"""
state_of_origin='''Rivers'''
fullname=f"{last_name} {first_name}"
print(fullname)

George Boma

In [20]:
#String interpolation
#Average_of_three_numbers
a=float(input("Enter the value of a: "))
b=float(input("Enter the value of b: "))
c=float(input("Enter the value of c: ")) 
average=(a+b+c)/3
print(f"The average is {average}")

Enter the value of a: 3
Enter the value of b: 3
Enter the value of c: 5
The average is 3.6666666666666665

In [21]:
#indexing and slicing
first_name="Boma"
print(first_name[0])

B

In [22]:
first_name="Boma"
print(first_name[0])
print(len(first_name))

B
4

In [26]:
smart_hub=input("Enter a message: ")
pos=len(smart_hub)-1
print(smart_hub[pos])

Enter a message: Imagine
e

In [28]:
#Negative Indexing
smart_hub=input("Enter a message: ")
print(smart_hub[-1])

Enter a message: September
r

In [31]:
#for the case of an odd character
msg=input("Enter a message: ")
pos=len(msg)//2
print(msg[pos])

Enter a message: Prosper
s