### A database management system using Structured Query Language (SQL).

#### 1. Relational database: This database uses records, tables, fields, characters and bits.
#### 2. Non relational database:
#### Foreign keys are used to link different tables.
#### Primary keys are unique keys.

### STEPS IN CREATING A DATABASE.

#### 1. import sqlite3 as sqlite
#### 2. Connect
#### 3.Create a TABLE using an SQL execute command.
#### 4.Close the connection

In [4]:
import sqlite3 as sqlite
connection=sqlite.connect("students.db")
connection.execute("CREATE TABLE students(mat TEXT, age INT, name TEXT)")
connection.close()

### STEPS IN INSERTING VALUES INTO THE TABLE.

#### 1. Open the table using conn=sqlite.connect("Students.db")
#### 2. The insert command
#### 3. Commit to save the content
#### 4. Close

In [12]:
conn=sqlite.connect("students.db")
conn.execute('INSERT INTO students(mat,age,name)VALUES("u2018/34565",40 "John")')
conn.commit()
conn.close()

OperationalError: near ""John"": syntax error

In [ ]:
conn=sqlite.connect("students.db")
conn.execute('INSERT INTO students(mat,age,name)VALUES("u2018/34565",40, 30, 70, 34, 56, "John", "Charles", "Gift","Williams","Marvy")')
conn.commit()
conn.close()

### STEPS TO PRINT OUT THE CONTENT OF THE TABLE

#### 1. Get the connection
#### 2. creating a cursor with the variable name cursor
#### 3. The execute command
#### 4. Look over it when you are not getting the result you are expecting(Including a loop).
#### 5. print
#### 6. Close the connection

In [10]:
conn=sqlite.connect("students.db")
curs=conn.cursor()
content=curs.execute("SELECT*FROM students")
for record in content:
    print(record)
conn.close()

('u2018/34565', 40, 'John')

### Modification
#### Try this to select a specified colmn(Select name,age From students).

In [5]:
conn=sqlite.connect("students.db")
curs=conn.cursor()
content=curs.execute("SELECT mat,name FROM students") #try this to select a specified colmn(Select name,age From students).
for record in content:
    print(record)
conn.close()

('u2018/34565', 'John')

### Modification using the WHERE CLOCK

In [8]:
conn=sqlite.connect("students.db")
curs=conn.cursor()
content=curs.execute("SELECT age FROM students WHERE age=70") #try this to select age column when age=70.
for record in content:
    print(record)
conn.close()

In [14]:
conn=sqlite.connect("students.db")
curs=conn.cursor()
content=curs.execute("SELECT*FROM students")
print(content)
conn.close

<sqlite3.Cursor object at 0x000001AAB1935BC0>

In [6]:
conn=sqlite.connect("students.db")
curs=conn.cursor()
content=curs.execute("SELECT name, age FROM students")
print(content)
conn.close

<sqlite3.Cursor object at 0x00000235CB8ABD40>

### NEW TABLE with restrictions and limitations.
#### All columns defined as primary key constraint must be defined as NOT NULL.

In [28]:
connection=sqlite.connect("States.db")
conn.execute('CREATE TABLE States(State TEXT PRIMARY KEY,count INT NOT NULL)')
connection.close()

In [29]:
conn=sqlite.connect("States.db")
conn.execute('INSERT INTO States(State,count)VALUES("Rivers",23)')
conn.commit()
conn.close()

In [30]:
conn=sqlite.connect("States.db")
curs=conn.cursor()
content=curs.execute("SELECT * FROM States")
print(content)
conn.close

<sqlite3.Cursor object at 0x000001AAB1DFEE40>

### Using the WHERE CLOCK

### MORE ON DATA BASE        23-10-2023

In [1]:
import sqlite3 as sqlite
conn=sqlite.connect("students.db")
conn.execute('INSERT INTO students(mat,age,name)VALUES("u2018/34565",40, "John")')
conn.commit()
conn.close()

In [4]:
conn=sqlite.connect("students.db")
conn.execute('INSERT INTO students VALUES(? ? ?)',(mat,age,name))
conn.commit()
conn.close()

NameError: name 'mat' is not defined