### A database management system using Structured Query Language (SQL).

#### 1. Relational database: This database uses records, tables, fields, characters and bits.
#### 2. Non relational database:
#### Foreign keys are used to link different tables.
#### Primary keys are unique keys.

### STEPS IN CREATING A DATABASE.

#### 1. import sqlite3 as sqlite
#### 2. Connect
#### 3.Create a TABLE using an SQL execute command.
#### 4.Close the connection

In [4]:
import sqlite3 as sqlite
connection=sqlite.connect("students.db")
connection.execute("CREATE TABLE students(mat TEXT, age INT, name TEXT)")
connection.close()

### STEPS IN INSERTING VALUES INTO THE TABLE.

#### 1. Open the table using conn=sqlite.connect("Students.db")
#### 2. The insert command
#### 3. Commit to save the content
#### 4. Close

In [9]:
conn=sqlite.connect("students.db")
conn.execute('INSERT INTO students(mat,age,name)VALUES("u2018/34565",40, "John")')
conn.commit()
conn.close()

### STEPS TO PRINT OUT THE CONTENT OF THE TABLE

#### 1. Get the connection
#### 2. creating a cursor with the variable name cursor
#### 3. The execute command
#### 4. Look over it when you are not getting the result you are expecting(Including a loop).
#### 5. print
#### 6. Close the connection

In [10]:
conn=sqlite.connect("students.db")
curs=conn.cursor()
content=curs.execute("SELECT*FROM students")
for record in content:
    print(record)
conn.close()

('u2018/34565', 40, 'John')

In [14]:
conn=sqlite.connect("students.db")
curs=conn.cursor()
content=curs.execute("SELECT*FROM students")
print(content)
conn.close

<sqlite3.Cursor object at 0x000001AAB1935BC0>

### NEW TABLE with restrictions

In [28]:
connection=sqlite.connect("States.db")
conn.execute('CREATE TABLE States(State TEXT PRIMARY KEY,count INT NOT NULL)')
connection.close()

In [29]:
conn=sqlite.connect("States.db")
conn.execute('INSERT INTO States(State,count)VALUES("Rivers",23)')
conn.commit()
conn.close()

In [30]:
conn=sqlite.connect("States.db")
curs=conn.cursor()
content=curs.execute("SELECT * FROM States")
print(content)
conn.close

<sqlite3.Cursor object at 0x000001AAB1DFEE40>